/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
:root {
  --contentbg: #f9f9f9;
  --boxbg: #9fe8f6;
  --bg: #6c69bd;
  --brightaccent: #9aa6f4;
  --lowaccent: #000000;
  --link: #2b1fb4;
  --lighttext: #775952;
  --text: #27211d;
}

            body {
                margin: 0;
                padding: 0;
                background-color: purple;
                background-image: url('/Asset/background_loop2.gif');
                background-size: cover;
                background-attachment: fixed;
                font-family: sans-serif;
                font-size: 14px;
                line-height: 1.3em;
                color: black;
                /*cursor: url('/tailsmybeloved.gif'),auto; */
                cursor: url(https://cur.cursors-4u.net/games/gam-1/gam81.cur), auto;
                cursor: url(https://cur.cursors-4u.net/games/gam-1/gam81.cur), pointer;
            }
            
            *{cursor: url(https://cur.cursors-4u.net/games/gam-1/gam81.cur), default;}


            body a {
                color: #22506A;
                font-weight: bold;
                text-decoration: none;
            }

            #main-container {
                max-width: 1000px;
                margin: 0 auto;
                background-color: #7ed794;
            }

            .flex {
                display: flex;
                margin-bottom: 5px;
            }

            .content-wrap {
                margin-top: 0;
            }
            
            .responsive {
            width: 100%;
            height: auto;
            }

            .pointer {cursor: pointer;}

            #content-container {
                width: 60%;
                margin-bottom: 5px;
                background-color: #55cd3a;
            }

            #left-sidebar {
                width: 150px;
                margin-right: 10px;
                margin-bottom: 5px;
                height: 100%;
                overflow: hidden;
                background-color: #17c17a;
            }

            #right-sidebar {
                width: 150px;
                margin-left: 10px;
                margin-bottom: 5px;
                height: 100%;
                overflow: hidden;
                background-color: #17c17a;
            }

            #header-contained {
                height: 150px;
                margin-bottom: 0;
                background-image: url('/Asset/Banner4.png');
                background-position: center center;
            }

            #footer {
                height: 30px;
                text-align: center;
                color: black;
                background-color: #004a02;
            }

            #header-full {
                display: none;
                height: 150px;
                margin-bottom: 0;
                background-image: url('/Asset/Banner4.png');
                background-position: center center;
            }

            #navbar-contained {
                margin-bottom: 5px
            }

            #navbar-full {
                display: none;
            }

            .nav {
                margin-left: 0;
                text-align: center;
                margin-top: 0;
                margin-bottom: 10px;
                padding-top: 1em;
                padding-bottom: 1em;
                background-color: #70ff6b;
            }

            .nav li {
                display: inline-block;
                padding-right: 20px;
            }

            .wrapper {
                padding: 25px;
                padding-top: 15px;
            }

            .sidebar-wrapper {
                padding: 15px;
                height: 100%;
                overflow: hidden;
            }

            .footer-wrapper {
                padding: 5px;
            }
            
            .wiki {
  display: inline;
  padding: 1em;
}

.wikitext>details summary {
  font-size: 2em;
  color: var(--darkaccent);
  font-family: "Darumadrop One", "Monofonto", serif;
  font-weight: 900;
  text-decoration: underline;
  max-width: 100%;
}

.wikitext>details summary:hover {
  color: var(--accent);
}

.infobox {
  display: inline;
  max-width: 24%;
  width: 100%;
  padding: .5em;
  font-size: 13px;
  float: right;
  clear: right;
  border: 1px solid var(--brightaccent);
  height: 100%;
  background-color: var(--boxbg);
  border-radius: 10px;
  outline: 2px solid var(--contentbg);
  margin-left: 1em;
  margin-bottom: 1em;
}

.infobox p {
  text-indent: 0em;
}

.infobox img {
  border-radius: .5em;
  display: flex;
  justify-content: center;
}

a:link,
a:visited {
  color: var(--link);
}

h1 {
  font-size: 4rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: var(--brightaccent);
  margin: 0;
  border-radius: 8px 8px 0 0;
  padding: .1em;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

h3 {
  font-size: 2rem;
  margin-top: 2rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
  margin: 0;
}

h6 {
  font-size: 0.96rem;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h2 {
  border-bottom: 2px solid var(--lowaccent);
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  font-size: 14px;
  background: var(--brightaccent);
  text-align: CENTER;
  border-radius: 5px;
  font-weight: 100;
}

h5 {
  color: var(--lowaccent);
  margin: 0;
}


            /* To keep your site RESPONSIVE, make sure this variable matches the width for --container-width UNLESS --container-width is 100% - if it's 100%, you'll need to manually input a breakpoint. */
            @media only screen and (max-width: 800px) {
                .flex {
                    flex-wrap: wrap;
                }

                #left-sidebar {
                    width: 100%;
                    display: block;
                    order: 2;
                    margin-right: 0;
                    margin-bottom: 10px;
                }

                #right-sidebar {
                    width: 100%;
                    display: block;
                    order: 3;
                    margin-left: 0;
                }

                #content-container {
                    width: 100%;
                    display: block;
                    order: 1;
                    margin-bottom: 10px;
                }

                .wiki {
    display: flex;
    flex-direction: column;
  }

  .infobox {
    max-width: 95%;
    margin-bottom: 1em;
    font-size: 1em;
    text-align: center;
    margin-left: 0;
  }

  .wikitext {
    width: 100%;
  }

            }